.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}

.y_axis {
    font-size: 18px;
    font-weight: semibold;
}

rect {
    fill: black;
}